# -----------------------
# OS Files
# -----------------------
.DS_Store
Thumbs.db

# -----------------------
# Python
# -----------------------
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.env
*.venv
env/
venv/
.venv/
*.egg-info/
dist/
build/

# -----------------------
# IDE / Editor
# -----------------------
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# -----------------------
# Git
# -----------------------
.gitignore
